/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block {
    padding: 20px;
    border-width: 12px;
    border-style: outset;
    display: inline-block;
}

.light-pink {
background-color: lightpink;
border-color: palevioletred;
}
.light-blue {
    background-color: aqua;
    border-color: skyblue;
}
.orange {
    background-color: orange;
    border-color: goldenrod;
}
.purple {
    background-color:#AF93DD;
    border-color:#7960A6;
}
.green {
    background-color:#00C8A7 ;
    border-color:#008F74 ;
}
.red {
    background-color: lightcoral;
    border-color: red;
}
.yellow {
    background-color: yellow;
    border-color: yellowgreen; 
}
.light-blue {
    background-color: aqua;
    border-color: skyblue;
}
.lighter-orange {
    background-color:#FFBB54 ;
    border-color:#FF7E5B ;
}
.dark-pink {
    background-color: #DE4A70;
    border-color:#A12D81 ;
}
.burnt-orange {
    background-color: #BA4534;
    border-color: #7E0807;
}
.off-white {
    background-color: #FFFADE;
    border-color: #E8D5B5;
}
.brown {
    background-color: #BC915A;
    border-color:#845F2A ;
}
.dark-green {
    background-color: #498846;
    border-color: #667B30;
}
.pink {
    background-color:#FFC0B6;
    border-color:#FF8981 ;
 
}