*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar1 {
    background: linear-gradient(to bottom, #6c6a1799,#a4810f,#944f17e2);
    color: #e3cf33;
    display: flex;
    font-family: franklin;
    padding-left: 0px;
   
}

#navbar1 a {
    display: flex;
    text-decoration: underline;
    color: white;
    margin-left:auto;
    align-items: flex-end;
    padding-bottom: 10px;
    margin-right: 25px;
    font-size: 18px;
    &:hover{
        color: #e3cf33;
    }
}

#navbar1 img {
    width: 100px;
    border: solid;
    border-color: #e3cf33;
    border-width: 5px;
    padding-left: 0px;
}

#navbar1 #logo {
    margin-right: 20px;
    margin-left: 10px;
}

#sculpt {
    font-size: 40px;
    border-bottom: solid;
    border-color: white;
}

#navbar-2 {
    background: linear-gradient(to bottom, coral, tan);
    display: flex;
    align-items: center;
    gap: 24px;
}

#name-2 {
    display: flex;
    margin-left: 15px;
    margin-right: auto;
    color: #ec3838;
    font-size: 30px;
    h1{
       font-weight: bold;
    }
}

#icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 25px;
}

.button2 {
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 24px;
    margin-right: 25px;
    &:hover{
        background-color: #e87a43;
        
    }
}

#subscribe {
    background-color: #ec3838;
    padding: 24px;
    text-align: center;
    border-radius: 24px;
    font-weight: bold;
    text-decoration: underline;
    &:hover{
        background-color: #e87a43;
        
    }
}

#navbar-3 {
    background: linear-gradient(-90deg, black, #800080, #b37709);
    display: flex;
    flex-direction: column;
   align-items: center;
   color: white;
   h5  {
    margin-top: 0px;
    text-decoration: underline;
   }
}

#icondiv{
    display: flex;
    align-items: center;
}

#navbar-3head {
    background-color: #000000 ;
    display: flex;
    color: #b37709;
    h1 {
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        font-size: 42px;
        background-color: #3a043a;
        margin-left: 25px;
        padding:5px;
    }


    }
    #button-3 {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-left: auto;
        padding-right: 20px;
    }

    .button-3{
        color: white;
        font-weight: bold;
        font-family: serif;
        text-decoration: none;
        padding: 5px;
        &:hover {
            background-color: #800080;
        }
    }
    #sign-in {
        background: linear-gradient(-90deg,#b37709, #800080 );
        border: solid, purple ;
        border-width: 5px;
        padding: 5px;
        font-size: 22px;
        border-radius: 10px;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }


#navbar-3bottom {
    display: flex;
    background-color:#e87a43;
    justify-content: center;
    #bottomnav-3 {
        display: flex;
        gap: 25px;
        padding: 5px;
    }

    a{
        color: white;
        font-family: serif;
        padding: 5px;
        &:hover {
            background-color: #800080;
            text-decoration: none;
        }
    }
    
}




