#back-image {
    background-image: url(../images/chouyan\ logo.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
}


.basic-grid-gallery img {
    width: 100%;
}