#back-image {
    background-image: url(../images/chouyan\ logo.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
}


.basic-grid-gallery img {
    width: 100%;
}

#heading {
    text-align: center;
}

#paragraph {
    text-align: center;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    background-color: #000000;
    gap:30px;
    margin-bottom: 25px;
    position: sticky;
    top: 0px;
    a{
        display: flex;
        text-align: center;
        color: white;
        color: #711bbd;
        padding-left: 10px;
        padding-right:10px;
        padding-top:5px;
        background-color: #bd1b9d;
        padding-bottom:5px;
        box-shadow: inset 0px 0px 10px rgb(46, 171, 100),
        0px 0px 10px rgb(43, 64, 168);
        color: aliceblue; 
        
    }
 
 }


.color {
    background-color: rgba(0, 0, 0, 0.712);
    color: white;
}

.brand-description {
    text-align: center;
}

#resume-header {
    text-align: center;
    h1{
        text-shadow: 10px 10px 50px #bd1b9d;
    }
    
}

#body-2 {
    background-color: rgb(232, 216, 194);
}

#resume-image {
    text-align: center;
    margin-top: 65px;
    border: solid black;
    border-width: 3px;

}

#back a {
    color:#bd1b9d;
    box-shadow: inset 0px 0px 10px #bd1b9d,
        0px 0px 10px rgb(43, 64, 168);
        color: #bd1b9d; 
    margin-left: 25px;
    margin-top: 20px;
}