@import url("https://use.typekit.net/tfy5som.css");
@import url("https://use.typekit.net/hyq8bcr.css");
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000000df;
}

img {
    width: 100%;
    object-fit: cover;
}

h2 {
    font-family: "lafleur-wide", sans-serif;
}

#logo{
   text-decoration: none;
}

#logo-img {
    width: 200px;
    margin-bottom: 0px;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: linear-gradient(180deg, #240056da ,#cda1f6c2 );
    margin-bottom: 50px;
}

#name {
    display: flex;
    padding: 5px;
    h2{
        justify-content: center;
        text-align: center;
        margin-top: 0px;
        font-size: 20px;
        color: #1ba0a2;
        background-color: black;
        padding: 3px;
        
    }
}

.dropdown {
    position:relative;
    
}

.dropdown .menu-button {
    position: absolute;
    background-color: #fae7fb;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-25px) ;
    transition: opacity 0.5s,
    visibility 0.5s, transform 0.5s;
}

.dropdown:hover .menu-button {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.button {
    font-family: "ff-market-web", sans-serif;
    text-decoration: underline;
    font-size: 24px;
    color: black;
}

.nav-l1, .nav-l2{
    display: flex;
    align-items: center;
    margin-top: 90px;
    gap: 50px;
    a {
        padding: 20px 0px;
    }
    a:hover {
        text-decoration: none;
        color: #dee454;
    }
}

#hero-img {
    background-image: url(../images/5.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    #cta-button {
        display: block;
        margin-top: 320px;
        background-color: #dee454;
        color: #be1e2d;;
        padding: 10px;
        font-family: "ff-market-web", sans-serif;
        font-size: 32px;
        border-radius: 5px;
        box-shadow:-4px 2px 10px #640505;
        border: solid #640505;
        border-width: 5px;
        &:hover {
            text-decoration: none;
            color: black;
            transform: scale(120%);
            border: none;
        }

    }
}




