* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url(../images/beach.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 250px;
    h1{
        margin-bottom: 10px;
        font-size: 80px;
        color: aliceblue;
        
    }
}

#inclusive {
    margin-top: 10px;
    font-size: 24px;
    margin-left: 75px;
    color: aliceblue;
    text-decoration: underline;
}

#book {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 12px;
    background-color: #559cdb99;
    text-decoration: underline;
    padding: 5px;
    color: aliceblue;
}

#buttons {
    display: flex;
    margin-top: 150px;
    width: 400px;
    justify-content: space-between;
}

#buttons a {
    background-color: #bd841b;
    padding: 20px;
    box-shadow: inset 0px 0px 10px rgb(237, 188, 14),
     0px 0px 10px rgb(168, 141, 43);
     color: aliceblue;
}